* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcd599;
}
body .shop {
  display: flex;
  width: 100vw;
  height: 100vh;
}
body .shop .productos {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #fcd599;
  margin: 1rem;
  box-shadow: -6px -6px 0px 7px rgba(0, 0, 0, 0.75);
  border: 2px solid #390707;
  width: 47vw;
  height: 95vh;
  display: flex;
  flex-wrap: wrap;
}
body .shop .productos .right {
  padding-right: 5%;
}
body .shop .productos .left {
  padding-left: 5%;
}
body .shop .productos-productoTop {
  margin-top: 24px;
  width: 50%;
  height: 18%;
}
body .shop .productos-productoTop_dragp1, body .shop .productos-productoTop_dragp2 {
  width: 100%;
  height: 74%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 0.3rem;
  background-color: #745132;
}
body .shop .productos-productoTop_preciop1, body .shop .productos-productoTop_preciop2 {
  width: 100%;
  height: 32%;
}
body .shop .productos-productoTop_preciop1 p, body .shop .productos-productoTop_preciop2 p {
  text-align: center;
  color: #390707;
  padding-top: 0.5rem;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
body .shop .productos-producto {
  width: 50%;
  height: 18%;
}
body .shop .productos-producto_dragp3, body .shop .productos-producto_dragp4, body .shop .productos-producto_dragp5, body .shop .productos-producto_dragp6, body .shop .productos-producto_dragp7, body .shop .productos-producto_dragp8, body .shop .productos-producto_dragp9, body .shop .productos-producto_dragp10 {
  width: 100%;
  height: 74%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 0.3rem;
  background-color: #745132;
}
body .shop .productos-producto_preciop3, body .shop .productos-producto_preciop4, body .shop .productos-producto_preciop5, body .shop .productos-producto_preciop6, body .shop .productos-producto_preciop7, body .shop .productos-producto_preciop8, body .shop .productos-producto_preciop9, body .shop .productos-producto_preciop10 {
  width: 100%;
  height: 32%;
}
body .shop .productos-producto_preciop3 p, body .shop .productos-producto_preciop4 p, body .shop .productos-producto_preciop5 p, body .shop .productos-producto_preciop6 p, body .shop .productos-producto_preciop7 p, body .shop .productos-producto_preciop8 p, body .shop .productos-producto_preciop9 p, body .shop .productos-producto_preciop10 p {
  text-align: center;
  color: #390707;
  padding-top: 0.5rem;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
body .shop .venta {
  display: flex;
  flex-direction: column;
}
body .shop .venta .coste {
  display: flex;
  height: 35vh;
  width: 50vw;
  margin: 1rem;
}
body .shop .venta .coste #cart {
  height: 35%;
  width: 100%;
}
body .shop .venta .coste #cart p {
  color: #390707;
  margin: 1rem;
  display: flex;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
body .shop .venta .coste #cart ul li {
  color: #390707;
  margin: 1rem;
  display: flex;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
body .shop .venta .coste .total {
  height: 35%;
  width: 100%;
}
body .shop .venta .coste .total p {
  text-align: center;
  color: #390707;
  padding-top: 0.5rem;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
body .shop .venta .coste .total span {
  color: #390707;
  margin: 1rem;
  display: flex;
  font-size: 7rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}
body .shop .venta .imagenes {
  display: flex;
  height: 55vh;
  width: 50vw;
  align-items: flex-end;
  margin: 1rem;
}
body .shop .venta .imagenes .carro {
  height: 65%;
  width: 45%;
  position: relative;
  padding: 9% 16% 0 0;
  margin: 0 0 10% 10%;
}
body .shop .venta .imagenes .carro_img {
  height: 25%;
  width: 23%;
  position: absolute;
  display: flex;
  align-items: flex-end;
}
body .shop .venta .imagenes .carro_img_objeto {
  position: absolute;
  height: 100%;
  width: 100%;
}
body .shop .venta .imagenes .dropped {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  word-wrap: break-word;
}
body .shop .venta .imagenes .dropped_element {
  width: 9%;
  margin: 0.2rem;
}
body .shop .venta .imagenes .girl {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(./../img/girl.png);
  margin: 0 0 0 6rem;
  height: 85%;
  width: 22%;
}